body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-size: 40px;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.texture-selector {
  transform: scale(7);
}

.active-texture {
  border: 2px solid red;
}

.menu {
  top: 10px;
  left: 10px;
}